<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293295045239-eajovr6q2gkjo3laikjium1rmb8g3jlp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293295045239-eajovr6q2gkjo3laikjium1rmb8g3jlp</string>
	<key>API_KEY</key>
	<string>AIzaSyB0iKSNufh3vUu-t0RX4Hc7gMk6fESa9NA</string>
	<key>GCM_SENDER_ID</key>
	<string>293295045239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amit.project1</string>
	<key>PROJECT_ID</key>
	<string>whatapp-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>whatapp-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293295045239:ios:bccd8cf9740645f3362472</string>
</dict>
</plist>